.String {
    display: flex;
    margin: 15px 300px;
    border-bottom: 1px solid grey;
}

.String p {
    width: 25%;
}

.String button {
    margin-left: auto;
    background: red;
    color: #fff;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
}